.app-content {
  h2 {
    font-size: @fontsize-huge;
    padding: 24px 0;
    text-transform: capitalize;
    @media screen and (max-width: @tablet-breakpoint) {
      font-size: 0.6*@fontsize-huge;
    }
  }
  .setting-options__button {
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    @media screen and (max-width: @mobile-breakpoint) {
      width: 100%;
      text-align: center;
    }
    &.pull-right {
      float: right;
      margin-right: 40px;
      @media screen and (max-width: @tablet-breakpoint) {
        float: none;
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: @mobile-breakpoint) {
    margin-right: 20px;
  }
}
