.footer-content {
  height: @footer-height;
  border-top: 1px solid @mist;
  p {
    padding: 20px 0 0 20px;
    color: @steele;
    font-size: @fontsize-regular;
    a {
      color: @graphite;
    }
  }
}
