.app-header {
  background-color: @green;
  padding-bottom: 7px;
  .box-shadow(0px 2px 5px 0px rgba(0,0,0,0.45));
  @media screen and (max-width: @tablet-breakpoint) {
    padding-bottom: 0;
  }
}

.top-bar {
  background-color: @green;
  height: @topbar-height;
  position: relative;
  @media screen and (max-width: @tablet-breakpoint) {
    height: 1.6*@topbar-height;
  }
  .left-bar, .right-bar {
    display: block;
    float: left;
  }
  .left-bar {
    width: 65%;
  }
  .right-bar {
    width: 35%;
  }
  .app-header__item {
    font-size: @fontsize-small;
    color: white;
    text-transform: uppercase;
    line-height: @topbar-height;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    @media screen and (max-width: @tablet-breakpoint) {
      line-height: 0.8*@topbar-height;
    }
  }
  .current-location {
    font-size: @fontsize-small;
    font-weight: 400;
    span {
      font-weight: 600;
    }
    @media screen and (max-width: @tablet-breakpoint) {
      font-size: @fontsize-tiny;
    }
  }
  .dropdown-toggle {
    background-color: @dark-green;
    cursor: pointer;
    padding: 0 15px;
    font-weight: 600;
    .box-shadow(inset 2px 0px 5px 0px rgba(0,0,0,0.15));
    transition: background-color 0.4s;
    @media screen and (max-width: @tablet-breakpoint) {
      width: 50%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    @media screen and (max-width: @mobile-breakpoint) {
      font-size: @fontsize-tiny;
    }
    &.kiosks-dropdown {
      @media screen and (max-width: @tablet-breakpoint) {
        left: 50%;
      }
    }
    .network-counter {
      .border-radius(8px);
      color: @dark-green;
      background-color: white;
      display: inline-block;
      vertical-align: middle;
      margin-top: -3.5px;
      padding: 0 6px;
      line-height: 12px;
      margin-left: 6px;
      font-size: @fontsize-tiny;
      font-weight: 600;
    }
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-left: 6px;
      .triangle-down (white, 4px);
      position: relative;
      top: -2px;
      @media screen and (max-width: @tablet-breakpoint) {
        float: right;
        top: 10px;
      }
    }
    &:hover {
      background-color: @khaki;
    }
  }
  .pill-button {
    .border-radius(9px);
    color: white;
    text-decoration: none;
    background-color: @khaki;
    padding: 0 15px;
    line-height: 18px;
    font-size: @fontsize-micro;
    border-bottom: 1px solid #94c061;
    border-right: 1px solid #94c061;
    font-weight: 600;
    margin-right: 8px;
    @media screen and (max-width: @tablet-breakpoint) {
      margin-right: 20px;
      margin-top: 3px;
    }
  }
}


/********************************************************/

.app-nav {
  background-color: @coal;
  .primary-nav {
    background-color: @coal;
    height: @midbar-height;
    border-bottom: 1px solid @ash;
    @media screen and (max-width: @tablet-breakpoint) {
      height: 1.2*@midbar-height;
    }
    .user-actions {
      float: right;
      height: @midbar-height;
      @media screen and (max-width: @tablet-breakpoint) {
        float: none;
        border-bottom: 1px solid @ash;
        height: 0.6*@midbar-height;
      }
      .user {
        display: inline-block;
        vertical-align: top;
        line-height: @midbar-height;
        vertical-align: middle;
        @media screen and (max-width: @tablet-breakpoint) {
          float: left;
          margin-left: 20px;
          line-height: 0.5*@midbar-height;
        }
        .avatar {
          .border-radius(50%);
          display: inline-block;
          line-height: @midbar-height;
          vertical-align: middle;
          width: 40px;
          height: 40px;
          background-color: white;
          background-image: url('../media/avatar.png');
          background-position: center center;
          background-size: 130%;
          @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
            background-image: url('../media/avatar@2x.png');
          }
          @media screen and (max-width: @tablet-breakpoint) {
            width: 26px;
            height: 26px;
            line-height: 0.6*@midbar-height;
          }
        }
        .username {
          color: white;
          display: inline-block;
          vertical-align: middle;
          padding: 0 15px;
          line-height: @midbar-height;
          vertical-align: middle;
          font-weight: 600;
          font-size: 16px;
          @media screen and (max-width: @tablet-breakpoint) {
            line-height: 0.6*@midbar-height;
            font-size: 12px;
          }
        }
      }
      .settings {
        display: inline-block;
        vertical-align: top;
        line-height: @midbar-height;
        height: @midbar-height;
        width: @midbar-height;
        background-color: @smoke;
        border-bottom: 1px solid @ash;
        border-left: 1px solid @ash;
        cursor: pointer;
        transition: background-color 0.4s;
        @media screen and (max-width: @tablet-breakpoint) {
          height: 0.6*@midbar-height;
          line-height: 0.6*@midbar-height;
          width: 0.8*@midbar-height;
          border: none;
          background-color: transparent;
        }
        &:after {
          content: ' ';
          display: inline-block;
          vertical-align: middle;
          width: 23px;
          height: 23px;
          background-size: contain;
          background-image: url('../media/gear.png');
          background-repeat: no-repeat;
          background-position: center center;
          transform: rotate(0deg);
          transition: transform 0.8s;
          @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
            background-image: url('../media/gear@2x.png');
          }
        }
        &:hover {
          background-color: @ash;
          @media screen and (max-width: @tablet-breakpoint) {
            background-color: transparent;
          }
          &:after {
            transform: rotate(90deg);
          }
        }
      }
    }
    .navigation-list {
      float: left;
      @media screen and (max-width: @tablet-breakpoint) {
        padding-left: 10px;
      }
      ul {
        li {
          text-transform: uppercase;
          color: white;
          display: inline-block;
          vertical-align: top;
          line-height: @midbar-height;
          vertical-align: middle;
          white-space:nowrap;
          @media screen and (max-width: @tablet-breakpoint) {
            line-height: 0.6*@midbar-height;
          }
          a {
            display: block;
            height: 100%;
            line-height: @midbar-height;
            padding: 0 20px;
            position: relative;
            color: @pale;
            font-size: @fontsize-small-regular;
            @media screen and (max-width: @tablet-breakpoint) {
              line-height: 0.6*@midbar-height;
              font-size: @fontsize-small;
              padding: 0 10px;
            }
            &:after {
              content: '';
              display: inline-block;
              vertical-align: top;
              .triangle-right(@dust, 5px);
              position: absolute;
              right: 0;
              top: 50%;
              margin-top: -5px;
            }
            &:hover {
              color: white;
              &:after {
                .triangle-right(@steele, 5px);
              }
            }
          }
          &:last-child {
            a {
              font-weight: 600;
            }
          }
          &.has_secondary {
            background-color: black;
            margin-left: 10px;
            margin-bottom: -2px;
            a {
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .secondary-nav {
    background-color: @black;
    height: @bottombar-height;
    line-height: @bottombar-height;
    @media screen and (max-width: @tablet-breakpoint) {
      height: 0.6*@bottombar-height;
      line-height: 0.6*@bottombar-height;
    }
    @media screen and (max-width: @mobile-breakpoint) {
      padding-left: 15px;
    }
    ul {
      li {
        display: inline-block;
        vertical-align: top;
        height: @bottombar-height;
        line-height: @bottombar-height;
        white-space:nowrap;
        @media screen and (max-width: @tablet-breakpoint) {
          height: 0.6*@bottombar-height;
          line-height: 0.6*@bottombar-height;
        }
        a {
          display: inline-block;
          padding: 0 20px;
          vertical-align: middle;
          color: @mist;
          border-right: 1px solid @ash;
          line-height: 26px;
          font-size: @fontsize-small-regular;
          text-transform: uppercase;
          margin-top: -4px;
          @media screen and (max-width: @tablet-breakpoint) {
            height: 0.4*@bottombar-height;
            line-height: 0.4*@bottombar-height;
            font-size: @fontsize-small;
          }
          @media screen and (max-width: @mobile-breakpoint) {
            padding: 0 5px;
          }
        }
        &:last-child {
          a {
            border-right: none;
          }
        }
      }
    }
  }
}
