@green: #65a51d;
@dark-green: #568c19;

@coal: #1e1e1e;
@black: black;
@smoke: #292929;
@graphite: #3a3a3a;
@ash: #464646;
@dust: #565656;
@steele: #818181;
@fog: #afafaf;
@mist: #d5d5d5;
@pale: #eeeeee;
@chalk: #f8f8f8;

@topbar-height: 30px;
@midbar-height: 64px;


@fontsize-regular: 14px;
@fontsize-small-regular: 13px;
@fontsize-small: 12px;
@fontsize-tiny: 10px;
@fontsize-micro: 9px;
