// colors declarations
// --- green palette
@green: #65a51d;
@dark-green: #568c19;
// --- black - gray - white palette
@black: black;
@coal: #1e1e1e;
@smoke: #292929;
@graphite: #3a3a3a;
@ash: #464646;
@dust: #565656;
@steele: #818181;
@fog: #afafaf;
@mist: #d5d5d5;
@pale: #eeeeee;
@chalk: #f8f8f8;

// constant heights
@topbar-height: 30px;
@midbar-height: 64px;
@bottombar-height: 50px;
@footer-height: 60px;

// font sizes
@fontsize-huge: 36px;
@fontsize-regular: 14px;
@fontsize-small-regular: 13px;
@fontsize-small: 12px;
@fontsize-tiny: 10px;
@fontsize-micro: 9px;

// media breakpoints
@tablet-breakpoint: 768px;
@mobile-breakpoint: 480px;
